  @media screen  and (min-width:320px) and (max-width:359px) {

    html {
        overflow-x: hidden;
    }
   body {
       width: 100%;
       height: 100%;
       overflow-x: hidden;
      
   }
    
    a {
        text-decoration: none;
    }
    /*Header section */
    header {
      width: 100%;
      height: 100%;
    
    
      .wuka-logo {
        background: rgb(216, 214, 214);
        width: 100%;
        height: 80px;
        padding: 10px 30px;
       display: flex;
    justify-content: space-between;
     
    .social-links {
        display: none;
    }
  
        .logo {
          font-size: 35px;
          font-weight: bolder;
       
          text-decoration: none;
           letter-spacing: 10px;
          color: #000000;
          }
      }
     
      .main-header {
    
          width: 100%;
          background-image: url(/assets/img/back-img.jpg);
          background-repeat: no-repeat;
          background-size: cover;
    
    
          nav {
              background-color: white ;
              width: 100%;
              height: 80px;
    
              .navbar-nav{
                
               position: absolute;
               z-index: 10;
               background-color: #ffffff;
    
    
               .nav-item {
                   
                   .nav-link {
                       color: #000000;
                       text-transform: uppercase;
                             font-weight: 900;
                             padding: 10px 10px;
                             font-size: 14px;
                           
                   }
               }      
                       
                
              }
          }
        
          .bg-img {
           .overlay{
            width: 100%;
            background: #0000001c;
            z-index: 10;
            img{
                width: 100%;
                z-index: -10;
                mix-blend-mode:darken;
            }
    
        }
        }
        
    
    }
      
    }
    
    
      .hero-text {


        a {
            text-decoration: underline;
            color: #000000;
            position: absolute;
            font-size: 16px;
            font-weight: bolder;
            top: 38%;
            left: 10%;
            animation-name: movement;
            animation-duration: 7s;
    
            &:hover {
                color: #f35757;
            }
        }
          
            h1{
                color: #232631;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 2px;
                font-size: 60px;
                font-weight: bold;
                position: absolute;
                top: 55%;
                left: 25%;
                text-align: center;
                z-index: 1;
                opacity: 0.6;
       }
               
        
            .btn-group{
             position: absolute;
               top: 30%;
               left: 5%;
               display: flex;
               flex-direction: column;
    
               ul {
               margin-top: -40px;
                margin-left: 20px;
                li {
                    margin-right: 40px;
                   display: inline;
                   list-style: none;
    
    
               }
    
               
               li a img:hover {
                transform: translateY(-5px);
                transition: all 500ms ease;
               }
            }
                .btn {
                   margin: 0 20px;
                   padding: 20px;
                   border: 2px solid white;
                   background: transparent;
                   color: #ffffff;
                   font-size: 20px;
                   font-weight: bold;
    
                   &:hover{
                    transform: translateY(-5px);
                    transition: all 500ms ease;
                   }
                   
    
                   .social {
                       display: block ;
                   }
                
    
               }
        
    
        }
        }
    
    
      .about-wuka {
          display: flex;
          flex-direction: row;
          background: #B85863;
          
        h2 {
            // border-radius: 20px;
            font-size: 45px;
            color: rgb(254, 254, 255);
            font-weight: 700;
            padding: 10px;
            position: absolute;
             margin-top: 130px;
            
             background: #232631;
             margin-left: -105px;
            transform: rotate(-90deg);
    
            span {
                color: #fa9b9b;
            }
    
        }
    p {
        margin: 30px 30px 50px 70px;
        padding: 30px;
        font-weight: bold;
        font-size: 14px;
        background: #D9CFB9;
    
    }
        
      }
      .music-section {
        background-color: #C9DADF;
        width: 100%;
     
       display: flex;
       flex-direction: column ;
       justify-content: center;
       align-items: center;
  
          .header-img{
              margin: 50px 0;
              img {
                  border-radius: 50%;
              }
           }
  
  
           .music-link {
              display: flex;
              justify-content: center;
              align-items: center;
 
              border: 3px solid #f35757;
              border-radius: 5px;
              width: 80%;
              height: 70px;
              margin: 20px 0;
 
              &:hover {
                  background-color: #fbfbfb;
              }
 
              a {
                  text-decoration: none;
                  color: black;
                  font-size: 14px;
                  font-weight: 700;
                  
              }
          }
   
    }

      footer {
      width: 100%;
        background: #232631;
    
        .container {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }
    
        .follow {
            width: 100%;
            margin-left: -8%;
            margin-top: 15%;
        
         p{
                 font-size: 30px;
                 font-family: 'Archivo Black', sans-serif;
                 color: #47c958;
                 margin-left: 13%;
           
                
             }
    
             ul {
                             display: flex;
                 li{
                     display: inline;
                     padding: 0 10px;
                 }
             }


             .attribution {
                margin: 30px;
               .attribute {
                   font-size: 14px;
   
                   a {
                       text-decoration: underline;
                   }
               }
            }
            }
        
        
    
      }
    

  }