@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #fbfbfb;
  overflow-x: hidden;
}

.navbar-nav {
  background-color: transparent;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*General*/
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
}

a {
  text-decoration: none;
}

/*Header section */
header {
  width: 100%;
  height: 100%;
}

header .wuka-logo {
  background: #d8d6d6;
  width: 100%;
  height: 80px;
  position: relative;
}

header .wuka-logo .logo {
  font-size: 35px;
  font-weight: bolder;
  position: absolute;
  top: 30%;
  left: 2.5%;
  text-decoration: none;
  letter-spacing: 10px;
  color: #000000;
}

header .main-header {
  width: 100%;
  background-image: url(/assets/img/back-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header .main-header nav {
  background-color: white;
  width: 100%;
  height: 80px;
}

header .main-header nav .navbar-nav {
  position: absolute;
  z-index: 10;
}

header .main-header nav .navbar-nav .nav-item .nav-link {
  color: #000000;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 10px;
  font-size: 14px;
}

header .main-header .bg-img .overlay {
  width: 100%;
  background: #0000001c;
  z-index: 10;
}

header .main-header .bg-img .overlay img {
  width: 100%;
  z-index: -10;
  mix-blend-mode: darken;
}

@-webkit-keyframes movement {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes movement {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-text a {
  text-decoration: underline;
  color: #000000;
  position: absolute;
  font-size: 40px;
  font-weight: bolder;
  top: 71%;
  left: 10%;
  -webkit-animation-name: movement;
          animation-name: movement;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.hero-text a:hover {
  color: #f35757;
}

.hero-text h1 {
  color: #ffffff;
  opacity: 0.7;
  font-family: 'Roboto', sans-serif;
  font-size: 150px;
  font-weight: bold;
  position: absolute;
  top: 95%;
  left: 18%;
  text-align: center;
  font-size: 300px;
  z-index: 1;
  -webkit-animation-name: movement;
          animation-name: movement;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.hero-text .btn-group {
  position: absolute;
  top: 60%;
  left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-text .btn-group ul {
  margin-top: 50px;
  margin-left: 90px;
}

.hero-text .btn-group ul li {
  margin-left: 100px;
  display: inline;
  list-style: none;
}

.hero-text .btn {
  margin: 0 20px;
  padding: 20px;
  border: 2px solid white;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.hero-text .btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.hero-text .btn .social {
  display: block;
}

.about-wuka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #B85863;
}

.about-wuka h2 {
  font-size: 60px;
  color: #fefeff;
  font-weight: 700;
  padding: 10px;
  position: absolute;
  margin-top: 190px;
  background: #232631;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.about-wuka h2 span {
  color: #fa9b9b;
}

.about-wuka p {
  margin: 100px 150px 150px 200px;
  padding: 80px;
  font-weight: bold;
  font-size: 18px;
  background: #D9CFB9;
}

footer {
  width: 100%;
  background: #232631;
}

footer .container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

footer .follow {
  margin-left: 20%;
  margin-top: 15%;
}

footer .follow p {
  font-size: 40px;
  font-family: 'Archivo Black', sans-serif;
  color: darkgrey;
}

footer .follow ul li {
  display: inline;
  padding: 0 10px;
}

/*----------- MEDIA QUERIES-----*/
@media screen and (min-width: 414px) and (max-width: 500px) {
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
    width: 100%;
    height: 100%;
  }
  header .wuka-logo {
    background: #d8d6d6;
    width: 100%;
    height: 80px;
    position: relative;
  }
  header .wuka-logo .logo {
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    top: 30%;
    left: 2.5%;
    text-decoration: none;
    letter-spacing: 10px;
    color: #000000;
  }
  header .main-header {
    width: 100%;
    background-image: url(/assets/img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .main-header nav {
    background-color: white;
    width: 100%;
    height: 80px;
  }
  header .main-header nav .navbar-nav {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
  }
  header .main-header nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 10px;
    font-size: 14px;
  }
  header .main-header .bg-img .overlay {
    width: 100%;
    background: #0000001c;
    z-index: 10;
  }
  header .main-header .bg-img .overlay img {
    width: 100%;
    z-index: -10;
    mix-blend-mode: darken;
  }
  .hero-text a {
    text-decoration: underline;
    color: #000000;
    position: absolute;
    font-size: 16px;
    font-weight: bolder;
    top: 38%;
    left: 10%;
    -webkit-animation-name: movement;
            animation-name: movement;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  .hero-text a:hover {
    color: #f35757;
  }
  .hero-text h1 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 27%;
    text-align: center;
    z-index: 1;
  }
  .hero-text .btn-group {
    position: absolute;
    top: 32%;
    left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text .btn-group ul {
    margin-top: -40px;
    margin-left: 20px;
  }
  .hero-text .btn-group ul li {
    margin-right: 40px;
    display: inline;
    list-style: none;
  }
  .hero-text .btn-group ul li a img:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .hero-text .btn-group .btn {
    margin: 0 20px;
    padding: 20px;
    border: 2px solid white;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  .hero-text .btn-group .btn:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .hero-text .btn-group .btn .social {
    display: block;
  }
  .about-wuka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #B85863;
  }
  .about-wuka h2 {
    font-size: 45px;
    color: #fefeff;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    margin-top: 130px;
    background: #232631;
    margin-left: -100px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-wuka h2 span {
    color: #fa9b9b;
  }
  .about-wuka p {
    margin: 30px 30px 50px 70px;
    padding: 20px;
    font-weight: bold;
    font-size: 14px;
    background: #D9CFB9;
  }
  footer {
    width: 100%;
    background: #232631;
  }
  footer .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  footer .follow {
    margin-left: 5%;
    margin-top: 15%;
  }
  footer .follow p {
    margin-left: 15%;
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    color: darkgrey;
  }
  footer .follow ul {
    margin-left: 3%;
  }
  footer .follow ul li {
    display: inline;
    padding: 0 10px;
  }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
  body {
    width: 100%;
    height: 100%;
  }
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
    width: 100%;
    height: 100%;
  }
  header .wuka-logo {
    background: #d8d6d6;
    width: 100%;
    height: 80px;
    position: relative;
  }
  header .wuka-logo .logo {
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    top: 30%;
    left: 2.5%;
    text-decoration: none;
    letter-spacing: 10px;
    color: #000000;
  }
  header .main-header {
    width: 100%;
    background-image: url(/assets/img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .main-header nav {
    background-color: white;
    width: 100%;
    height: 80px;
  }
  header .main-header nav .navbar-nav {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
  }
  header .main-header nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 10px;
    font-size: 14px;
  }
  header .main-header .bg-img .overlay {
    width: 100%;
    background: #0000001c;
    z-index: 10;
  }
  header .main-header .bg-img .overlay img {
    width: 100%;
    z-index: -10;
    mix-blend-mode: darken;
  }
  .hero-text a {
    text-decoration: underline;
    color: #000000;
    position: absolute;
    font-size: 16px;
    font-weight: bolder;
    top: 38%;
    left: 10%;
    -webkit-animation-name: movement;
            animation-name: movement;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  .hero-text a:hover {
    color: #f35757;
  }
  .hero-text h1 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 27%;
    text-align: center;
    z-index: 1;
    opacity: 0.6;
  }
  .hero-text .btn-group {
    position: absolute;
    top: 30%;
    left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text .btn-group ul {
    margin-top: -40px;
    margin-left: 20px;
  }
  .hero-text .btn-group ul li {
    margin-right: 40px;
    display: inline;
    list-style: none;
  }
  .hero-text .btn-group ul li a img:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .hero-text .btn-group .btn {
    margin: 0 20px;
    padding: 20px;
    border: 2px solid white;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  .hero-text .btn-group .btn:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .hero-text .btn-group .btn .social {
    display: block;
  }
  .about-wuka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #B85863;
  }
  .about-wuka h2 {
    font-size: 45px;
    color: #fefeff;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    margin-top: 130px;
    background: #232631;
    margin-left: -105px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-wuka h2 span {
    color: #fa9b9b;
  }
  .about-wuka p {
    margin: 30px 30px 50px 70px;
    padding: 40px;
    font-weight: bold;
    font-size: 14px;
    background: #D9CFB9;
  }
  footer {
    width: 100%;
    background: #232631;
  }
  footer .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  footer .follow {
    margin-left: 5%;
    margin-top: 15%;
  }
  footer .follow p {
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    color: darkgrey;
    margin-left: 13%;
  }
  footer .follow ul li {
    display: inline;
    padding: 0 10px;
  }
}

@media screen and (min-width: 360px) and (max-width: 374px) {
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
    width: 100%;
    height: 100%;
  }
  header .wuka-logo {
    background: #d8d6d6;
    width: 100%;
    height: 80px;
    position: relative;
  }
  header .wuka-logo .logo {
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    top: 30%;
    left: 2.5%;
    text-decoration: none;
    letter-spacing: 10px;
    color: #000000;
  }
  header .main-header {
    width: 100%;
    background-image: url(/assets/img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .main-header nav {
    background-color: white;
    width: 100%;
    height: 80px;
  }
  header .main-header nav .navbar-nav {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
  }
  header .main-header nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 10px;
    font-size: 14px;
  }
  header .main-header .bg-img .overlay {
    width: 100%;
    background: #0000001c;
    z-index: 10;
  }
  header .main-header .bg-img .overlay img {
    width: 100%;
    z-index: -10;
    mix-blend-mode: darken;
  }
  .hero-text a {
    text-decoration: underline;
    color: #000000;
    position: absolute;
    font-size: 16px;
    font-weight: bolder;
    top: 38%;
    left: 10%;
    -webkit-animation-name: movement;
            animation-name: movement;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  .hero-text a:hover {
    color: #f35757;
  }
  .hero-text h1 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 27%;
    text-align: center;
    z-index: 1;
  }
  .hero-text .btn-group {
    position: absolute;
    top: 30%;
    left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text .btn-group ul {
    margin-top: -40px;
    margin-left: 20px;
  }
  .hero-text .btn-group ul li {
    margin-right: 40px;
    display: inline;
    list-style: none;
  }
  .hero-text .btn-group ul li a img:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .hero-text .btn-group .btn {
    margin: 0 20px;
    padding: 20px;
    border: 2px solid white;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  .hero-text .btn-group .btn:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .hero-text .btn-group .btn .social {
    display: block;
  }
  .about-wuka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #B85863;
  }
  .about-wuka h2 {
    font-size: 45px;
    color: #fefeff;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    margin-top: 130px;
    background: #232631;
    margin-left: -115px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-wuka h2 span {
    color: #fa9b9b;
  }
  .about-wuka p {
    margin: 30px 30px 50px 70px;
    padding: 20px;
    font-weight: bold;
    font-size: 14px;
    background: #D9CFB9;
  }
  footer {
    width: 100%;
    background: #232631;
  }
  footer .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  footer .follow {
    margin-left: 5%;
    margin-top: 15%;
  }
  footer .follow p {
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    color: darkgrey;
    margin-left: 8%;
  }
  footer .follow ul {
    margin-left: -5%;
  }
  footer .follow ul li {
    display: inline;
    padding: 0 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
    width: 100%;
    height: 100%;
  }
  header .wuka-logo {
    background: #d8d6d6;
    width: 100%;
    height: 80px;
    position: relative;
  }
  header .wuka-logo .logo {
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    top: 30%;
    left: 2.5%;
    text-decoration: none;
    letter-spacing: 10px;
    color: #000000;
  }
  header .main-header {
    width: 100%;
    background-image: url(/assets/img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .main-header nav {
    background-color: white;
    width: 100%;
    height: 80px;
  }
  header .main-header nav .navbar-nav {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
  }
  header .main-header nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 10px;
    font-size: 14px;
  }
  header .main-header .bg-img .overlay {
    width: 100%;
    background: #0000001c;
    z-index: 10;
  }
  header .main-header .bg-img .overlay img {
    width: 100%;
    z-index: -10;
    mix-blend-mode: darken;
  }
  .hero-text a {
    text-decoration: underline;
    color: #000000;
    position: absolute;
    font-size: 16px;
    font-weight: bolder;
    top: 43%;
    left: 10%;
    -webkit-animation-name: movement;
            animation-name: movement;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  .hero-text a:hover {
    color: #f35757;
  }
  .hero-text h1 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 22%;
    opacity: 0.6;
    text-align: center;
    z-index: 1;
  }
  .hero-text .btn-group {
    position: absolute;
    top: 35%;
    left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text .btn-group ul {
    margin-top: -40px;
    margin-left: 20px;
  }
  .hero-text .btn-group ul li {
    margin-right: 40px;
    display: inline;
    list-style: none;
  }
  .hero-text .btn-group ul li a img:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .hero-text .btn-group .btn {
    margin: 0 20px;
    padding: 20px;
    border: 2px solid white;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  .hero-text .btn-group .btn:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .hero-text .btn-group .btn .social {
    display: block;
  }
  .about-wuka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #B85863;
  }
  .about-wuka h2 {
    font-size: 45px;
    color: #fefeff;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    margin-top: 130px;
    background: #232631;
    margin-left: -100px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-wuka h2 span {
    color: #fa9b9b;
  }
  .about-wuka p {
    margin: 30px 30px 50px 70px;
    padding: 20px;
    font-weight: bold;
    font-size: 14px;
    background: #D9CFB9;
  }
  footer {
    width: 100%;
    background: #232631;
  }
  footer .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  footer .follow {
    margin-left: 2%;
    margin-top: 15%;
  }
  footer .follow p {
    font-size: 25px;
    font-family: 'Archivo Black', sans-serif;
    color: darkgrey;
    margin-left: 15%;
  }
  footer .follow ul li {
    display: inline;
    padding: 0 5px;
  }
}
/*# sourceMappingURL=style.css.map */