@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*General*/
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

html {
  width: 100%;
}

a {
  text-decoration: none;
}

/*======================================================================*/
/* =====================HEADER SECTION================================*/
/*======================================================================*/
header {
  width: 100%;
  height: 100%;
}

header .wuka-logo {
  background: #d8d6d6;
  width: 100%;
  height: 80px;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .wuka-logo .logo {
  font-size: 35px;
  font-weight: lighter;
  font-family: 'Archivo Black', sans-serif;
  text-decoration: none;
  letter-spacing: 10px;
  color: #000000;
}

header .wuka-logo .social-links a {
  padding: 0 20px;
}

header .main-header {
  width: 100%;
  background-image: url(/assets/img/back-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header .main-header nav {
  background-color: white;
  width: 100%;
  height: 80px;
}

header .main-header nav .navbar-nav {
  position: absolute;
  z-index: 10;
}

header .main-header nav .navbar-nav .nav-item .nav-link {
  color: #000000;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 10px;
  font-size: 14px;
}

header .main-header .bg-img .overlay {
  width: 100%;
  background: #0000001c;
  z-index: 10;
}

header .main-header .bg-img .overlay img {
  width: 100%;
  z-index: -10;
  mix-blend-mode: darken;
}

/*======================================================================*/
/* =====================ABOUT SECTION================================*/
/*======================================================================*/
.about-wuka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #B85863;
  position: relative;
}

.about-wuka h2 {
  font-size: 45px;
  color: #fefeff;
  font-weight: 700;
  background: #232631;
  position: absolute;
  padding: 10px;
  top: 40%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.about-wuka h2 span {
  color: #fa9b9b;
}

.about-wuka p {
  max-width: 75%;
  margin: 6rem auto;
  padding: 80px;
  font-weight: bold;
  font-size: 18px;
  background: #D9CFB9;
}

/*======================================================================*/
/* =====================PROJECTS SECTION================================*/
/*======================================================================*/
.projects-section {
  background-color: #C9DADF;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.projects-section .header-img {
  margin: 30px 0 0 0;
}

.projects-section .header-img img {
  border-radius: 50%;
}

.projects-section .header-img-title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 900;
  text-align: center;
  color: #f35757;
  margin: 30px 0;
  padding: 10px;
  background-color: #232631;
}

.projects-section .music-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #f7d8d8;
  border-radius: 5px;
  box-shadow: -1px 10px 24px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 10px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 24px 0px rgba(0, 0, 0, 0.75);
  width: 50%;
  height: 70px;
  margin: 20px 0;
}

.projects-section .music-link:hover {
  background-color: #f37a7a;
}

.projects-section .music-link a {
  text-decoration: none;
  color: black;
  font-family: 'Archivo Black', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.projects-section .music-link a:hover {
  color: #ffffff;
}

/*======================================================================*/
/* =====================FOOTER SECTION================================*/
/*======================================================================*/
footer {
  width: 100%;
  background: #232631;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .follow p {
  font-size: 40px;
  font-family: 'Archivo Black', sans-serif;
  color: #f35757;
}

footer .container .follow ul li {
  display: inline;
  padding: 0 10px;
}

footer .container .follow .attribution {
  margin: 70px;
}

footer .container .follow .attribution .attribute {
  font-size: 16px;
}

footer .container .follow .attribution .attribute a {
  text-decoration: underline;
}

footer .container .follow .attribution .attribute a:hover {
  color: white;
}

/*======================================================================*/
/* =====================MEDIA QUERIES================================*/
/*======================================================================*/
@media screen and (min-width: 769px) and (max-width: 1000px) {
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  html {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
    width: 100%;
    height: 100%;
  }
  header .wuka-logo {
    background: #d8d6d6;
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .wuka-logo .logo {
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 10px;
    color: #000000;
  }
  header .wuka-logo .social-links a {
    padding: 0 20px;
  }
  header .main-header {
    width: 100%;
    background-image: url(/assets/img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .main-header nav {
    background-color: white;
    width: 100%;
    height: 80px;
  }
  header .main-header nav .navbar-nav {
    position: absolute;
    z-index: 10;
  }
  header .main-header nav .navbar-nav .nav-item {
    background-color: #ffffff;
  }
  header .main-header nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 70px;
    font-size: 14px;
  }
  header .main-header .bg-img .overlay {
    width: 100%;
    background: #0000001c;
    z-index: 10;
  }
  header .main-header .bg-img .overlay img {
    width: 100%;
    z-index: -10;
    mix-blend-mode: darken;
  }
  .about-wuka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #B85863;
  }
  .about-wuka h2 {
    font-size: 30px;
    color: #fefeff;
    font-weight: 700;
    padding: 10px;
    top: 40%;
    left: 5%;
    background: #232631;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-wuka h2 span {
    color: #fa9b9b;
  }
  .about-wuka p {
    max-width: 70%;
    margin: 6rem auto;
    padding: 50px;
    font-weight: bold;
    font-size: 16px;
    background: #D9CFB9;
  }
  .projects-section {
    background-color: #C9DADF;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-section .header-img {
    margin: 50px 0;
  }
  .projects-section .header-img img {
    border-radius: 50%;
  }
  .projects-section .music-link {
    border-radius: 5px;
    width: 70%;
    height: 70px;
    margin: 20px 0;
  }
  .projects-section .music-link:hover {
    background-color: #fbfbfb;
  }
  .projects-section .music-link a:hover {
    color: #f35757;
  }
  footer {
    width: 100%;
    background: #232631;
  }
  footer .container {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .follow p {
    font-size: 30px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: #f35757;
  }
  footer .container .follow ul li {
    display: inline;
    padding: 0 10px;
  }
  footer .container .follow .attribution {
    margin: 70px;
  }
  footer .container .follow .attribution .attribute {
    font-size: 16px;
  }
  footer .container .follow .attribution .attribute a {
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  html {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
    width: 100%;
    height: 100%;
  }
  header .wuka-logo {
    background: #d8d6d6;
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .wuka-logo .logo {
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 10px;
    color: #000000;
  }
  header .wuka-logo .social-links a {
    padding: 0 20px;
  }
  header .main-header {
    width: 100%;
    background-image: url(/assets/img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .main-header nav {
    background-color: white;
    width: 100%;
    height: 80px;
  }
  header .main-header nav .navbar-nav {
    position: absolute;
    z-index: 10;
  }
  header .main-header nav .navbar-nav .nav-item {
    background-color: #ffffff;
  }
  header .main-header nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 70px;
    font-size: 14px;
  }
  header .main-header .bg-img .overlay {
    width: 100%;
    background: #0000001c;
    z-index: 10;
  }
  header .main-header .bg-img .overlay img {
    width: 100%;
    z-index: -10;
    mix-blend-mode: darken;
  }
  .about-wuka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #B85863;
  }
  .about-wuka h2 {
    font-size: 30px;
    color: #fefeff;
    font-weight: 700;
    padding: 10px;
    top: 40%;
    background: #232631;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-wuka h2 span {
    color: #fa9b9b;
  }
  .about-wuka p {
    max-width: 60%;
    margin: 6rem auto;
    padding: 50px;
    font-weight: bold;
    font-size: 16px;
    background: #D9CFB9;
  }
  .projects-section {
    background-color: #C9DADF;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-section .header-img {
    margin: 50px 0;
  }
  .projects-section .header-img img {
    border-radius: 50%;
  }
  .projects-section .music-link {
    border-radius: 5px;
    width: 70%;
    height: 70px;
    margin: 20px 0;
  }
  .projects-section .music-link:hover {
    background-color: #fbfbfb;
  }
  .projects-section .music-link a:hover {
    color: #f35757;
  }
  footer {
    width: 100%;
    background: #232631;
  }
  footer .container {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .follow p {
    font-size: 30px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: #f35757;
  }
  footer .container .follow ul li {
    display: inline;
    padding: 0 10px;
  }
  footer .container .follow .attribution {
    margin: 70px;
  }
  footer .container .follow .attribution .attribute {
    font-size: 16px;
  }
  footer .container .follow .attribution .attribute a {
    text-decoration: underline;
  }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  html {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
    width: 100%;
    height: 100%;
  }
  header .wuka-logo {
    background: #d8d6d6;
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .wuka-logo .logo {
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 10px;
    color: #000000;
  }
  header .wuka-logo .social-links a {
    padding: 0 20px;
  }
  header .main-header {
    width: 100%;
    background-image: url(/assets/img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .main-header nav {
    background-color: white;
    width: 100%;
    height: 80px;
  }
  header .main-header nav .navbar-nav {
    position: absolute;
    z-index: 10;
  }
  header .main-header nav .navbar-nav .nav-item {
    background-color: #ffffff;
  }
  header .main-header nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 70px;
    font-size: 14px;
  }
  header .main-header .bg-img .overlay {
    width: 100%;
    background: #0000001c;
    z-index: 10;
  }
  header .main-header .bg-img .overlay img {
    width: 100%;
    z-index: -10;
    mix-blend-mode: darken;
  }
  .about-wuka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #B85863;
  }
  .about-wuka h2 {
    font-size: 30px;
    color: #fefeff;
    font-weight: 700;
    padding: 10px;
    top: 40%;
    background: #232631;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-wuka h2 span {
    color: #fa9b9b;
  }
  .about-wuka p {
    max-width: 60%;
    margin: 6rem auto;
    padding: 50px;
    font-weight: bold;
    font-size: 16px;
    background: #D9CFB9;
  }
  .projects-section {
    background-color: #C9DADF;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-section .header-img {
    margin: 50px 0;
  }
  .projects-section .header-img img {
    border-radius: 50%;
  }
  .projects-section .music-link {
    border-radius: 5px;
    width: 70%;
    height: 70px;
    margin: 20px 0;
  }
  .projects-section .music-link:hover {
    background-color: #fbfbfb;
  }
  .projects-section .music-link a:hover {
    color: #f35757;
  }
  footer {
    width: 100%;
    background: #232631;
  }
  footer .container {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .follow p {
    font-size: 30px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: #f35757;
  }
  footer .container .follow ul li {
    display: inline;
    padding: 0 10px;
  }
  footer .container .follow .attribution {
    margin: 70px;
  }
  footer .container .follow .attribution .attribute {
    font-size: 16px;
  }
  footer .container .follow .attribution .attribute a {
    text-decoration: underline;
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  html {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
    width: 100%;
    height: 100%;
  }
  header .wuka-logo {
    background: #d8d6d6;
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .wuka-logo .logo {
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 10px;
    color: #000000;
  }
  header .wuka-logo .social-links a {
    padding: 0 20px;
  }
  header .main-header {
    width: 100%;
    background-image: url(/assets/img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .main-header nav {
    background-color: white;
    width: 100%;
    height: 80px;
  }
  header .main-header nav .navbar-nav {
    position: absolute;
    z-index: 10;
  }
  header .main-header nav .navbar-nav .nav-item {
    background-color: #ffffff;
  }
  header .main-header nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 70px;
    font-size: 14px;
  }
  header .main-header .bg-img .overlay {
    width: 100%;
    background: #0000001c;
    z-index: 10;
  }
  header .main-header .bg-img .overlay img {
    width: 100%;
    z-index: -10;
    mix-blend-mode: darken;
  }
  .about-wuka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #B85863;
    position: relative;
  }
  .about-wuka h2 {
    font-size: 20px;
    color: #fefeff;
    font-weight: 700;
    position: absolute;
    padding: 10px;
    top: 27%;
    left: 7%;
    background: #232631;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-wuka h2 span {
    color: #fa9b9b;
  }
  .about-wuka p {
    max-width: 60%;
    margin: 6rem auto;
    padding: 50px;
    font-weight: bold;
    font-size: 14px;
    background: #D9CFB9;
  }
  .projects-section {
    background-color: #C9DADF;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-section .header-img {
    margin: 50px 0;
  }
  .projects-section .header-img img {
    border-radius: 50%;
  }
  .projects-section .music-link {
    border-radius: 5px;
    width: 70%;
    height: 70px;
    margin: 20px 0;
  }
  .projects-section .music-link:hover {
    background-color: #fbfbfb;
  }
  .projects-section .music-link a:hover {
    color: #f35757;
  }
  footer {
    width: 100%;
    background: #232631;
  }
  footer .container {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .follow p {
    font-size: 30px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: #f35757;
  }
  footer .container .follow ul li {
    display: inline;
    padding: 0 10px;
  }
  footer .container .follow .attribution {
    margin: 70px;
  }
  footer .container .follow .attribution .attribute {
    font-size: 16px;
  }
  footer .container .follow .attribution .attribute a {
    text-decoration: underline;
  }
}

@media screen and (min-width: 414px) and (max-width: 500px) {
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
    width: 100%;
    height: 100%;
  }
  header .wuka-logo {
    background: #d8d6d6;
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .wuka-logo .social-links {
    display: none;
  }
  header .wuka-logo .logo {
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 10px;
    color: #000000;
  }
  header .main-header {
    width: 100%;
    background-image: url(/assets/img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .main-header nav {
    background-color: white;
    width: 100%;
    height: 80px;
  }
  header .main-header nav .navbar-nav {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
  }
  header .main-header nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 30px;
    font-size: 14px;
  }
  header .main-header .bg-img .overlay {
    width: 100%;
    background: #0000001c;
    z-index: 10;
  }
  header .main-header .bg-img .overlay img {
    width: 100%;
    z-index: -10;
    mix-blend-mode: darken;
  }
  .about-wuka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #B85863;
  }
  .about-wuka h2 {
    font-size: 20px;
    color: #fefeff;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    top: 26%;
    right: 65%;
    background: #232631;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-wuka h2 span {
    color: #fa9b9b;
  }
  .about-wuka p {
    max-width: 60%;
    padding: 1rem;
    margin: 4rem auto;
    font-weight: bold;
    font-size: 14px;
    background: #D9CFB9;
  }
  .projects-section {
    background-color: #C9DADF;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-section .header-img {
    margin: 50px 0;
  }
  .projects-section .header-img img {
    border-radius: 50%;
  }
  .projects-section .music-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    width: 80%;
    height: 70px;
    margin: 20px 0;
  }
  .projects-section .music-link:hover {
    background-color: #fbfbfb;
  }
  .projects-section .music-link a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
  }
  .projects-section .music-link a:hover {
    color: #f35757;
  }
  footer {
    width: 100%;
    background: #232631;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
    padding: 10px 0 0 0;
  }
  footer .container .footer-img {
    width: 100%;
  }
  footer .container .footer-img img {
    max-width: 100%;
  }
  footer .container .follow {
    margin-top: 30px;
  }
  footer .container .follow p {
    font-size: 32px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: #f35757;
  }
  footer .container .follow ul li {
    display: inline;
  }
  footer .container .follow .attribution {
    margin: 70px;
  }
  footer .container .follow .attribution .attribute {
    font-size: 16px;
  }
  footer .container .follow .attribution .attribute a {
    text-decoration: underline;
  }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
  html {
    overflow-x: hidden;
  }
  body {
    width: 100%;
    height: 100%;
  }
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
    width: 100%;
    height: 100%;
  }
  header .wuka-logo {
    background: #d8d6d6;
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .wuka-logo .social-links {
    display: none;
  }
  header .wuka-logo .logo {
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 10px;
    color: #000000;
  }
  header .main-header {
    width: 100%;
    background-image: url(/assets/img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .main-header nav {
    background-color: white;
    width: 100%;
    height: 80px;
  }
  header .main-header nav .navbar-nav {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
  }
  header .main-header nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 10px;
    font-size: 14px;
  }
  header .main-header .bg-img .overlay {
    width: 100%;
    background: #0000001c;
    z-index: 10;
  }
  header .main-header .bg-img .overlay img {
    width: 100%;
    z-index: -10;
    mix-blend-mode: darken;
  }
  .about-wuka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #B85863;
  }
  .about-wuka h2 {
    font-size: 20px;
    color: #fefeff;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    top: 24%;
    right: 61%;
    background: #232631;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-wuka h2 span {
    color: #fa9b9b;
  }
  .about-wuka p {
    max-width: 60%;
    padding: 1.7rem;
    margin: 6rem auto;
    font-weight: bold;
    font-size: 14px;
    background: #D9CFB9;
  }
  .projects-section {
    background-color: #C9DADF;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-section .header-img {
    margin: 50px 0;
  }
  .projects-section .header-img img {
    border-radius: 50%;
  }
  .projects-section .music-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    width: 80%;
    height: 70px;
    margin: 20px 0;
  }
  .projects-section .music-link:hover {
    background-color: #fbfbfb;
  }
  .projects-section .music-link a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 700;
  }
  .projects-section .music-link a:hover {
    color: #f35757;
  }
  footer {
    width: 100%;
    background: #232631;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }
  footer .container .follow {
    margin-top: 30px;
  }
  footer .container .follow p {
    font-size: 32px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: #f35757;
  }
  footer .container .follow ul li {
    display: inline;
  }
  footer .container .follow .attribution {
    margin: 70px;
  }
  footer .container .follow .attribution .attribute {
    font-size: 16px;
  }
  footer .container .follow .attribution .attribute a {
    text-decoration: underline;
  }
}

@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    overflow-x: hidden;
  }
  body {
    width: 100%;
    height: 100%;
  }
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
    width: 100%;
    height: 100%;
  }
  header .wuka-logo {
    background: #d8d6d6;
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .wuka-logo .social-links {
    display: none;
  }
  header .wuka-logo .logo {
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 10px;
    color: #000000;
  }
  header .main-header {
    width: 100%;
    background-image: url(/assets/img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .main-header nav {
    background-color: white;
    width: 100%;
    height: 80px;
  }
  header .main-header nav .navbar-nav {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
  }
  header .main-header nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 10px;
    font-size: 14px;
  }
  header .main-header .bg-img .overlay {
    width: 100%;
    background: #0000001c;
    z-index: 10;
  }
  header .main-header .bg-img .overlay img {
    width: 100%;
    z-index: -10;
    mix-blend-mode: darken;
  }
  .about-wuka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #B85863;
  }
  .about-wuka h2 {
    font-size: 18px;
    color: #fefeff;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    top: 28%;
    right: 61%;
    background: #232631;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-wuka h2 span {
    color: #fa9b9b;
  }
  .about-wuka p {
    max-width: 60%;
    padding: 1.7rem;
    margin: 6rem auto;
    font-weight: bold;
    font-size: 12px;
    background: #D9CFB9;
  }
  .projects-section {
    background-color: #C9DADF;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-section .header-img {
    margin: 50px 0;
  }
  .projects-section .header-img img {
    border-radius: 50%;
  }
  .projects-section .music-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    width: 80%;
    height: 70px;
    margin: 20px 0;
  }
  .projects-section .music-link:hover {
    background-color: #fbfbfb;
  }
  .projects-section .music-link a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 700;
  }
  .projects-section .music-link a:hover {
    color: #f35757;
  }
  footer {
    width: 100%;
    background: #232631;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }
  footer .container .follow {
    margin-top: 30px;
  }
  footer .container .follow p {
    font-size: 32px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: #f35757;
  }
  footer .container .follow ul li {
    display: inline;
  }
  footer .container .follow .attribution {
    margin: 70px;
  }
  footer .container .follow .attribution .attribute {
    font-size: 16px;
  }
  footer .container .follow .attribution .attribute a {
    text-decoration: underline;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  html {
    overflow-x: hidden;
  }
  body {
    width: 100%;
    height: 100%;
  }
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
    width: 100%;
    height: 100%;
  }
  header .wuka-logo {
    background: #d8d6d6;
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .wuka-logo .social-links {
    display: none;
  }
  header .wuka-logo .logo {
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 10px;
    color: #000000;
  }
  header .main-header {
    width: 100%;
    background-image: url(/assets/img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .main-header nav {
    background-color: white;
    width: 100%;
    height: 80px;
  }
  header .main-header nav .navbar-nav {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
  }
  header .main-header nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 10px;
    font-size: 14px;
  }
  header .main-header .bg-img .overlay {
    width: 100%;
    background: #0000001c;
    z-index: 10;
  }
  header .main-header .bg-img .overlay img {
    width: 100%;
    z-index: -10;
    mix-blend-mode: darken;
  }
  .about-wuka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #B85863;
  }
  .about-wuka h2 {
    font-size: 18px;
    color: #fefeff;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    top: 23%;
    right: 58%;
    background: #232631;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-wuka h2 span {
    color: #fa9b9b;
  }
  .about-wuka p {
    max-width: 60%;
    padding: 1.7rem;
    margin: 6rem auto;
    font-weight: bold;
    font-size: 12px;
    background: #D9CFB9;
  }
  .projects-section {
    background-color: #C9DADF;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-section .header-img {
    margin: 50px 0;
  }
  .projects-section .header-img img {
    border-radius: 50%;
  }
  .projects-section .music-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    width: 80%;
    height: 70px;
    margin: 20px 0;
  }
  .projects-section .music-link:hover {
    background-color: #fbfbfb;
  }
  .projects-section .music-link a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 700;
  }
  .projects-section .music-link a:hover {
    color: #f35757;
  }
  footer {
    width: 100%;
    background: #232631;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }
  footer .container .follow {
    margin-top: 30px;
  }
  footer .container .follow p {
    font-size: 32px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: #f35757;
  }
  footer .container .follow ul li {
    display: inline;
  }
  footer .container .follow .attribution {
    margin: 70px;
  }
  footer .container .follow .attribution .attribute {
    font-size: 16px;
  }
  footer .container .follow .attribution .attribute a {
    text-decoration: underline;
  }
}
/*# sourceMappingURL=style.css.map */