
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/*General*/

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
       font-family: 'Roboto', sans-serif;
    
}
html {
    width: 100%;
}

a {
    text-decoration: none;
}
/*Header section */
header {
  width: 100%;
  height: 100%;

 .wuka-logo {
      background: rgb(216, 214, 214);
      width: 100%;
      height: 80px;
      padding: 10px 30px;
     display: flex;
  justify-content: space-between;
   

      .logo {
        font-size: 35px;
        font-weight: bolder;
     
        text-decoration: none;
         letter-spacing: 10px;
        color: #000000;
        
      }


      .social-links {
          a {
              padding: 0 20px;
          }
      }
  }

  
 
  .main-header {
     width: 100%;
      background-image: url(/assets/img/back-img.jpg);
      background-repeat: no-repeat;
      background-size: cover;


     nav {
          background-color: white ;
          width: 100%;
          height: 80px;

          .navbar-nav {
            
           position: absolute;
           z-index: 10;


           .nav-item {
               
               .nav-link {
                   color: #000000;
                   text-transform: uppercase;
                         font-weight: 900;
                         padding: 0 10px;
                         font-size: 14px;
                       
               }
           }
          }
      }
    
      .bg-img {
       .overlay{
        width: 100%;
        background: #0000001c;
        z-index: 10;
        img{
            width: 100%;
            z-index: -10;
            mix-blend-mode:darken;
        }

    }
    }
    

}
  
}

@keyframes movement {
    0% {
        opacity: 0;
        -webkit-transform: translateY(80px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}


  .hero-text {


   
      
        h1{
            color: #232631;
            opacity: 0.7;
            font-family: 'Roboto', sans-serif;
            font-size: 150px;
            font-weight: bold;
            position: absolute;
            top: 110%;
            left: 7%;
            text-align: center;
            font-size: 400px;   
            z-index: 1;
            animation-name: movement;
            animation-duration: 7s;
          
   }
           
    
        .btn-group{
         position: absolute;
           top: 60%;
           left: 3%;
           display: flex;
           flex-direction: column;

                            ul {
                                margin-top: 50px;
                                margin-left: 90px;
                            
                                li {
                                list-style: none;       
                           }

           
      
                          }
      }
            .btn {
               margin: 0 20px;
               padding: 20px;
               border: 2px solid white;
               background: transparent;
               color: #ffffff;
               font-size: 20px;
               font-weight: bold;

               &:hover{
                transform: translateY(-5px);
                transition: all 500ms ease;
               }
               

               .social {
                   display: block ;
               }
            

           }
        
 }
    


  .about-wuka {
      display: flex;
      flex-direction: row;
      background: #B85863;

      
    h2 {
  
        font-size: 60px;
        color: rgb(254, 254, 255);
        font-weight: 700;
        padding: 10px;
        position: absolute;
         margin-top: 190px;
         background: #232631;
        transform: rotate(-90deg);

        span {
            color: #fa9b9b;
        }

    }
p {
    margin: 100px 150px 150px 200px;
    padding: 80px;
    font-weight: bold;
    font-size: 18px;
    background: #D9CFB9;

}
    
  }


  .music-section {
      background-color: #C9DADF;
      width: 100%;
   
     display: flex;
     flex-direction: column ;
     justify-content: center;
     align-items: center;

        .header-img{
            margin: 50px auto;
            img {
                border-radius: 50%;
            }

            .header-img-title {
                margin-top: 20px;
               font-weight : 700;
                text-align: center;

            }

         }


         .music-link {
             display: flex;
             justify-content: center;
             align-items: center;

             border: 3px solid #f35757;
             border-radius: 5px;
             width: 70%;
             height: 70px;
             margin: 20px 0;
             animation-name: movement;
             animation-duration: 15s;

             &:hover {
                 background-color: #fbfbfb;
                 color: blue;
             }

             a {
                 text-decoration: none;
                 color: black;
                 font-family: 'Archivo Black', sans-serif;
                 font-size: 20px;
                 font-weight: 700;

                 &:hover {
                     color: blue;
                 }
                 
             }
         }
 
  }



  footer {
  width: 100%;
    background: #232631;

    .container {
   display: flex;
   margin: 0;
   padding: 0;
  justify-content: space-between;
  align-items: center;





   .follow {

      
    p{
        font-size: 40px;
        font-family: 'Archivo Black', sans-serif;
        color: #c94759;
       
    }

    ul {

  
        li{
            display: inline;
            padding: 0 10px;
        }
    }


    .attribution {
        margin: 70px;
       .attribute {
           font-size: 16px;

           a {
               text-decoration: underline;
           }
       }
    }


   }
    }

 
      
    }

  /*----------- MEDIA QUERIES-----*/



  @media screen  and (min-width:768px) and (max-width:1200px) {

    body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        
    }
    html {
        width: 100%;
    }
    
    a {
        text-decoration: none;
    }
    /*Header section */
    header {
      width: 100%;
      height: 100%;
    
     .wuka-logo {
          background: rgb(216, 214, 214);
          width: 100%;
          height: 80px;
          padding: 10px 30px;
         display: flex;
      justify-content: space-between;
       
    
          .logo {
            font-size: 35px;
            font-weight: bolder;
         
            text-decoration: none;
             letter-spacing: 10px;
            color: #000000;
            
          }
    
    
          .social-links {
              a {
                  padding: 0 20px;
              }
          }
      }
    
      
     
      .main-header {
         width: 100%;
          background-image: url(/assets/img/back-img.jpg);
          background-repeat: no-repeat;
          background-size: cover;
    
    
         nav {
              background-color: white ;
              width: 100%;
              height: 80px;
    
              .navbar-nav {
                
               position: absolute;
               z-index: 10;
    
    
               .nav-item {
                   background-color: #ffffff;
                   .nav-link {
                       color: #000000;
                       text-transform: uppercase;
                             font-weight: 900;
                             padding: 10px 50px;
                             font-size: 14px;
                           
                   }
               }
              }
          }
        
          .bg-img {
           .overlay{
            width: 100%;
            background: #0000001c;
            z-index: 10;
            img{
                width: 100%;
                z-index: -10;
                mix-blend-mode:darken;
            }
    
        }
        }
        
    
    }
      
    }
    
    @keyframes movement {
        0% {
            opacity: 0;
            -webkit-transform: translateY(40px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }
    
    
      .hero-text {
    
    
       
          
            h1{
                color: #232631;
                opacity: 0.7;
                font-family: 'Roboto', sans-serif;
                font-size: 150px;
                font-weight: bold;
                position: absolute;
                top: 40%;
                left: 25%;
                text-align: center;
                z-index: 1;
                animation-name: movement;
                animation-duration: 15s;
              
       }
               
        
            .btn-group{
             position: absolute;
               top: 60%;
               left: 3%;
               display: flex;
               flex-direction: column;
    
                                ul {
                                    margin-top: 50px;
                                    margin-left: 90px;
                                
                                    li {
                                    list-style: none;       
                               }
    
               
          
                              }
          }
                .btn {
                   margin: 0 20px;
                   padding: 20px;
                   border: 2px solid white;
                   background: transparent;
                   color: #ffffff;
                   font-size: 20px;
                   font-weight: bold;
    
                   &:hover{
                    transform: translateY(-5px);
                    transition: all 500ms ease;
                   }
                   
    
                   .social {
                       display: block ;
                   }
                
    
               }
            
     }
        
    
    
      .about-wuka {
          display: flex;
          flex-direction: row;
          background: #B85863;
    
          
        h2 {
      
            font-size: 60px;
            color: rgb(254, 254, 255);
            font-weight: 700;
            padding: 10px;
            position: absolute;
             margin-top: 190px;
             background: #232631;
            transform: rotate(-90deg);
    
            span {
                color: #fa9b9b;
            }
    
        }
    p {
        margin: 50px 150px 100px 200px;
        padding: 60px;
        font-weight: bold;
        font-size: 18px;
        background: #D9CFB9;
    
    }
        
      }
    
    
      .music-section {
          background-color: #C9DADF;
          width: 100%;
       
         display: flex;
         flex-direction: column ;
         justify-content: center;
         align-items: center;
    
            .header-img{
                margin: 50px 0;
                img {
                    border-radius: 50%;
                }
             }
    
    
             .music-link {
                 border: 1px solid #f35757;
                 border-radius: 5px;
                 width: 70%;
                 height: 70px;
                 margin: 20px 0;
    
                 &:hover {
                     background-color: #fbfbfb;
                 }
             }
     
      }
    
    
      
      
 
      footer {
        width: 100%;
          background: #232631;
      
          .container {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
     
      
      
      
         .follow {
      
            
          p{
              font-size: 30px;
              text-align: center;
              font-family: 'Archivo Black', sans-serif;
              color: #c94759;
             
          }
      
          ul {
           
        
              li{
                  display: inline;
                  padding: 0 10px;
              }
          }
      
      
          .attribution {
              margin: 70px;
             .attribute {
                 font-size: 16px;
      
                 a {
                     text-decoration: underline;
                 }
             }
          }
      
      
         }
          }
      
      
              }
            
          }
      
    
    
  
  
  @media screen  and (min-width:601px) and (max-width:767px) {

    body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        
    }
    html {
        width: 100%;
    }
    
    a {
        text-decoration: none;
    }
    /*Header section */
    header {
      width: 100%;
      height: 100%;
    
     .wuka-logo {
          background: rgb(216, 214, 214);
          width: 100%;
          height: 80px;
          padding: 10px 30px;
         display: flex;
      justify-content: space-between;
       
    
          .logo {
            font-size: 35px;
            font-weight: bolder;
         
            text-decoration: none;
             letter-spacing: 10px;
            color: #000000;
            
          }
    
    
          .social-links {
              a {
                  padding: 0 20px;
              }
          }
      }
    
      
     
      .main-header {
         width: 100%;
          background-image: url(/assets/img/back-img.jpg);
          background-repeat: no-repeat;
          background-size: cover;
    
    
         nav {
              background-color: white ;
              width: 100%;
              height: 80px;
    
              .navbar-nav {
                
               position: absolute;
               z-index: 10;
    
    
               .nav-item {
                    background-color: #ffffff;
                   .nav-link {
                       color: #000000;
                       text-transform: uppercase;
                             font-weight: 900;
                             padding: 10px 40px;
                             font-size: 14px;
                           
                   }
               }
              }
          }
        
          .bg-img {
           .overlay{
            width: 100%;
            background: #0000001c;
            z-index: 10;
            img{
                width: 100%;
                z-index: -10;
                mix-blend-mode:darken;
            }
    
        }
        }
        
    
    }
      
    }
    
    @keyframes movement {
        0% {
            opacity: 0;
            -webkit-transform: translateY(40px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }
    
    
      .hero-text {
    
    
       
          
            h1{
                color: #232631;
                opacity: 0.7;
                font-family: 'Roboto', sans-serif;
                font-size: 150px;
                font-weight: bold;
                position: absolute;
                top: 70%;
                left: 20%;
                text-align: center;
             
                z-index: 1;
                animation-name: movement;
                animation-duration: 15s;
              
       }
               
        
            .btn-group{
             position: absolute;
               top: 60%;
               left: 3%;
               display: flex;
               flex-direction: column;
    
                                ul {
                                    margin-top: 50px;
                                    margin-left: 90px;
                                
                                    li {
                                    list-style: none;       
                               }
    
               
          
                              }
          }
                .btn {
                   margin: 0 20px;
                   padding: 20px;
                   border: 2px solid white;
                   background: transparent;
                   color: #ffffff;
                   font-size: 20px;
                   font-weight: bold;
    
                   &:hover{
                    transform: translateY(-5px);
                    transition: all 500ms ease;
                   }
                   
    
                   .social {
                       display: block ;
                   }
                
    
               }
            
     }
        
    
    
     .about-wuka {
        display: flex;
        flex-direction: row;
        background: #B85863;
  
        
      h2 {
    
          font-size: 60px;
          color: rgb(254, 254, 255);
          font-weight: 700;
          padding: 10px;
          position: absolute;
           margin-top: 190px;
           background: #232631;
          transform: rotate(-90deg);
  
          span {
              color: #fa9b9b;
          }
  
      }
  p {
      margin: 50px 150px 100px 200px;
      padding: 60px;
      font-weight: bold;
      font-size: 18px;
      background: #D9CFB9;
  
  }
      
    }
    
    
      .music-section {
          background-color: #C9DADF;
          width: 100%;
       
         display: flex;
         flex-direction: column ;
         justify-content: center;
         align-items: center;
    
            .header-img{
                margin: 50px 0;
                img {
                    border-radius: 50%;
                }
             }
    
    
             .music-link {
                display: flex;
                justify-content: center;
                align-items: center;
   
                border: 3px solid #f35757;
                border-radius: 5px;
                width: 70%;
                height: 70px;
                margin: 20px 0;
   
                &:hover {
                    background-color: #fbfbfb;
                   
                   
                   
                 
                }
   
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                    font-weight: 700;
                    
                    
                }
            }
     
      }
    
    
    
      footer {
        width: 100%;
          background: #232631;
      
          .container {
         display: flex;
         flex-direction: column-reverse;
            justify-content: space-between;
         padding: 20px 0 0 0;
         margin: 0;
         max-width: 100%;
      
        .footer-img{

            width: 100%;

            img {
         width: 100%;
               
            }
        }
      
      
      
         .follow {
        margin-top: 30px;
            
          p{
              font-size: 32px;
              text-align: center;
              font-family: 'Archivo Black', sans-serif;
              color: #c94759;
             
          }
      
          ul {
      
        
              li{
                  display: inline;
               
              }
          }
      
      
          .attribution {
              margin: 70px;
             .attribute {
                 font-size: 16px;
      
                 a {
                     text-decoration: underline;
                 }
             }
          }
      
      
         }
          }
      
    
      }
    

  }


  @media screen  and (min-width:501px) and (max-width:600px) {


    a {
        text-decoration: none;
    }
    /*Header section */
    header {
      width: 100%;
      height: 100%;
    
    
      .wuka-logo {
        background: rgb(216, 214, 214);
        width: 100%;
        height: 80px;
        padding: 10px 30px;
       display: flex;
    justify-content: space-between;
     

    .social-links {
        display: none;
    }
  
        .logo {
          font-size: 35px;
          font-weight: bolder;
       
          text-decoration: none;
           letter-spacing: 10px;
          color: #000000;
          }
      }
     
      .main-header {
    
          width: 100%;
          background-image: url(/assets/img/back-img.jpg);
          background-repeat: no-repeat;
          background-size: cover;
    
    
          nav {
              background-color: white ;
              width: 100%;
              height: 80px;
    
              .navbar-nav{
                
               position: absolute;
               z-index: 10;
               background-color: #ffffff;
    
    
               .nav-item {
                   
                   .nav-link {
                       color: #000000;
                       text-transform: uppercase;
                             font-weight: 900;
                             padding: 10px 10px;
                             font-size: 14px;
                           
                   }
               }      
                       
                
              }
          }
        
          .bg-img {
           .overlay{
            width: 100%;
            background: #0000001c;
            z-index: 10;
            img{
                width: 100%;
                z-index: -10;
                mix-blend-mode:darken;
            }
    
        }
        }
        
    
    }
      
    }
    
    
      .hero-text {

        a {
            text-decoration: underline;
            color: #000000;
            position: absolute;
            font-size: 16px;
            font-weight: bolder;
            top: 38%;
            left: 10%;
            animation-name: movement;
            animation-duration: 7s;
    
            &:hover {
                color: #f35757;
            }
        }
          
          
            h1{
                color: #232631;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 3px;
                font-size:  80px;
                font-weight: bold;
                position: absolute;
                top: 60%;
                left: 30%;
                // text-align: center;
                z-index: 1;
       }
               
        
            .btn-group{
             position: absolute;
               top: 32%;
               left: 5%;
               display: flex;
               flex-direction: column;
    
               ul {
               margin-top: -40px;
                margin-left: 20px;
                li {
                    margin-right: 40px;
                   display: inline;
                   list-style: none;
    
    
               }
    
               
               li a img:hover {
                transform: translateY(-5px);
                transition: all 500ms ease;
               }
            }
                .btn {
                   margin: 0 20px;
                   padding: 20px;
                   border: 2px solid white;
                //    border-radius: 10px;
                   background: transparent;
                   color: #ffffff;
                   font-size: 20px;
                   font-weight: bold;
    
                   &:hover{
                    transform: translateY(-5px);
                    transition: all 500ms ease;
                   }
                   
    
                   .social {
                       display: block ;
                   }
                
    
               }
                 
              
    
        }
        }
    
    
      .about-wuka {
          display: flex;
          flex-direction: row;
          background: #B85863;
          
        h2 {
            // border-radius: 20px;
            font-size: 32px;
            color: rgb(254, 254, 255);
            font-weight: 700;
            padding: 10px;
            position: absolute;
             margin-top: 97px;
            
             background: #232631;
             margin-left: -50px;
            transform: rotate(-90deg);
    
            span {
                color: #fa9b9b;
            }
    
        }
    p {
        margin: 30px 30px 50px 80px;
        padding: 20px;
        font-weight: bold;
        font-size: 14px;
        background: #D9CFB9;
    
    }
        
      }


      .music-section {
        background-color: #C9DADF;
        width: 100%;
     
       display: flex;
       flex-direction: column ;
       justify-content: center;
       align-items: center;
  
          .header-img{
              margin: 50px 0;
              img {
                  border-radius: 50%;
              }
           }
  
  
           .music-link {
              display: flex;
              justify-content: center;
              align-items: center;
 
              border: 3px solid #f35757;
              border-radius: 5px;
              width: 80%;
              height: 70px;
              margin: 20px 0;
 
              &:hover {
                  background-color: #fbfbfb;
              }
 
              a {
                  text-decoration: none;
                  color: black;
                  font-size: 16px;
                  font-weight: 700;
                  
              }
          }
   
    }

    footer {
        width: 100%;
          background: #232631;
      
          .container {
         display: flex;
         flex-direction: column-reverse;
         margin: 0;
         padding: 0;
    
      
      
      
      
      
         .follow {
        margin-top: 30px;
            
          p{
              font-size: 32px;
              text-align: center;
              font-family: 'Archivo Black', sans-serif;
              color: #c94759;
             
          }
      
          ul {
      
        
              li{
                  display: inline;
               
              }
          }
      
      
          .attribution {
              margin: 70px;
             .attribute {
                 font-size: 16px;
      
                 a {
                     text-decoration: underline;
                 }
             }
          }
      
      
         }
          }
      
    
      }
    

  }


  
  @media screen  and (min-width:414px) and (max-width:500px) {


    
    a {
        text-decoration: none;
    }
    /*Header section */
    header {
      width: 100%;
      height: 100%;
    
    
      .wuka-logo {
        background: rgb(216, 214, 214);
        width: 100%;
        height: 80px;
        padding: 10px 30px;
       display: flex;
    justify-content: space-between;
     

    .social-links {
        display: none;
    }
  
        .logo {
          font-size: 35px;
          font-weight: bolder;
       
          text-decoration: none;
           letter-spacing: 10px;
          color: #000000;
          }
      }
     
      .main-header {
    
          width: 100%;
          background-image: url(/assets/img/back-img.jpg);
          background-repeat: no-repeat;
          background-size: cover;
    
    
          nav {
              background-color: white ;
              width: 100%;
              height: 80px;
    
              .navbar-nav{
                
               position: absolute;
               z-index: 10;
               background-color: #ffffff;
    
    
               .nav-item {
                   
                   .nav-link {
                       color: #000000;
                       text-transform: uppercase;
                             font-weight: 900;
                             padding: 10px 10px;
                             font-size: 14px;
                           
                   }
               }      
                       
                
              }
          }
        
          .bg-img {
           .overlay{
            width: 100%;
            background: #0000001c;
            z-index: 10;
            img{
                width: 100%;
                z-index: -10;
                mix-blend-mode:darken;
            }
    
        }
        }
        
    
    }
      
    }
    
    
      .hero-text {

        a {
            text-decoration: underline;
            color: #000000;
            position: absolute;
            font-size: 16px;
            font-weight: bolder;
            top: 38%;
            left: 10%;
            animation-name: movement;
            animation-duration: 7s;
    
            &:hover {
                color: #f35757;
            }
        }
          
          
            h1{
                color: #232631;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 2px;
                font-size: 60px;
                font-weight: bold;
                position: absolute;
                top: 40%;
                left: 27%;
                text-align: center;
                z-index: 1;
       }
               
        
            .btn-group{
             position: absolute;
               top: 32%;
               left: 5%;
               display: flex;
               flex-direction: column;
    
               ul {
               margin-top: -40px;
                margin-left: 20px;
                li {
                    margin-right: 40px;
                   display: inline;
                   list-style: none;
    
    
               }
    
               
               li a img:hover {
                transform: translateY(-5px);
                transition: all 500ms ease;
               }
            }
                .btn {
                   margin: 0 20px;
                   padding: 20px;
                   border: 2px solid white;
                //    border-radius: 10px;
                   background: transparent;
                   color: #ffffff;
                   font-size: 20px;
                   font-weight: bold;
    
                   &:hover{
                    transform: translateY(-5px);
                    transition: all 500ms ease;
                   }
                   
    
                   .social {
                       display: block ;
                   }
                
    
               }
                 
              
    
        }
        }
    
    
      .about-wuka {
          display: flex;
          flex-direction: row;
          background: #B85863;
          
        h2 {
            // border-radius: 20px;
            font-size: 40px;
            color: rgb(254, 254, 255);
            font-weight: 700;
            padding: 10px;
            position: absolute;
             margin-top: 110px;
            
             background: #232631;
             margin-left: -80px;
            transform: rotate(-90deg);
    
            span {
                color: #fa9b9b;
            }
    
        }
    p {
        margin: 30px 30px 50px 80px;
        padding: 20px;
        font-weight: bold;
        font-size: 14px;
        background: #D9CFB9;
    
    }
        
      }


      .music-section {
        background-color: #C9DADF;
        width: 100%;
     
       display: flex;
       flex-direction: column ;
       justify-content: center;
       align-items: center;
  
          .header-img{
              margin: 50px 0;
              img {
                  border-radius: 50%;
              }
           }
  
  
           .music-link {
              display: flex;
              justify-content: center;
              align-items: center;
 
              border: 3px solid #f35757;
              border-radius: 5px;
              width: 80%;
              height: 70px;
              margin: 20px 0;
 
              &:hover {
                  background-color: #fbfbfb;
              }
 
              a {
                  text-decoration: none;
                  color: black;
                  font-size: 16px;
                  font-weight: 700;
                  
              }
          }
   
    }

    footer {
        width: 100%;
          background: #232631;
      
          .container {
         display: flex;
         flex-direction: column-reverse;
         margin: 0;
         padding: 0;
    
      
      
      
      
      
         .follow {
        margin-top: 30px;
            
          p{
              font-size: 32px;
              text-align: center;
              font-family: 'Archivo Black', sans-serif;
              color: #c94759;
             
          }
      
          ul {
      
        
              li{
                  display: inline;
               
              }
          }
      
      
          .attribution {
              margin: 70px;
             .attribute {
                 font-size: 16px;
      
                 a {
                     text-decoration: underline;
                 }
             }
          }
      
      
         }
          }
      
    
      }
    
  }
  @media screen  and (min-width:375px) and (max-width:413px) {

    html {
        overflow-x: hidden;
    }
   body {
       width: 100%;
       height: 100%;
      
   }
    
    a {
        text-decoration: none;
    }
    /*Header section */
    header {
      width: 100%;
      height: 100%;
    
    
      .wuka-logo {
        background: rgb(216, 214, 214);
        width: 100%;
        height: 80px;
        padding: 10px 30px;
       display: flex;
    justify-content: space-between;
     
    .social-links {
        display: none;
    }
  
        .logo {
          font-size: 35px;
          font-weight: bolder;
       
          text-decoration: none;
           letter-spacing: 10px;
          color: #000000;
          }
      }
     
      .main-header {
    
          width: 100%;
          background-image: url(/assets/img/back-img.jpg);
          background-repeat: no-repeat;
          background-size: cover;
    
    
          nav {
              background-color: white ;
              width: 100%;
              height: 80px;
    
              .navbar-nav{
                
               position: absolute;
               z-index: 10;
               background-color: #ffffff;
    
    
               .nav-item {
                   
                   .nav-link {
                       color: #000000;
                       text-transform: uppercase;
                             font-weight: 900;
                             padding: 10px 10px;
                             font-size: 14px;
                           
                   }
               }      
                       
                
              }
          }
        
          .bg-img {
           .overlay{
            width: 100%;
            background: #0000001c;
            z-index: 10;
            img{
                width: 100%;
                z-index: -10;
                mix-blend-mode:darken;
            }
    
        }
        }
        
    
    }
      
    }
    
    
      .hero-text {


        a {
            text-decoration: underline;
            color: #000000;
            position: absolute;
            font-size: 16px;
            font-weight: bolder;
            top: 38%;
            left: 10%;
            animation-name: movement;
            animation-duration: 7s;
    
            &:hover {
                color: #f35757;
            }
        }
          
            h1{
                color: #232631;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 2px;
                font-size: 60px;
                font-weight: bold;
                position: absolute;
                top: 45%;
                left: 27%;
                text-align: center;
                z-index: 1;
                opacity: 0.6;
       }
               
        
            .btn-group{
             position: absolute;
               top: 30%;
               left: 5%;
               display: flex;
               flex-direction: column;
    
               ul {
               margin-top: -40px;
                margin-left: 20px;
                li {
                    margin-right: 40px;
                   display: inline;
                   list-style: none;
    
    
               }
    
               
               li a img:hover {
                transform: translateY(-5px);
                transition: all 500ms ease;
               }
            }
                .btn {
                   margin: 0 20px;
                   padding: 20px;
                   border: 2px solid white;
                   background: transparent;
                   color: #ffffff;
                   font-size: 20px;
                   font-weight: bold;
    
                   &:hover{
                    transform: translateY(-5px);
                    transition: all 500ms ease;
                   }
                   
    
                   .social {
                       display: block ;
                   }
                
    
               }
        
    
        }
        }
    
    
      .about-wuka {
          display: flex;
          flex-direction: row;
          background: #B85863;
          
        h2 {
            // border-radius: 20px;
            font-size: 45px;
            color: rgb(254, 254, 255);
            font-weight: 700;
            padding: 10px;
            position: absolute;
             margin-top: 130px;
            
             background: #232631;
             margin-left: -105px;
            transform: rotate(-90deg);
    
            span {
                color: #fa9b9b;
            }
    
        }
    p {
        margin: 30px 30px 50px 70px;
        padding: 40px;
        font-weight: bold;
        font-size: 14px;
        background: #D9CFB9;
    
    }
        
      }


      .music-section {
        background-color: #C9DADF;
        width: 100%;
     
       display: flex;
       flex-direction: column ;
       justify-content: center;
       align-items: center;
  
          .header-img{
              margin: 50px 0;
              img {
                  border-radius: 50%;
              }
           }
  
  
           .music-link {
              display: flex;
              justify-content: center;
              align-items: center;
 
              border: 3px solid #f35757;
              border-radius: 5px;
              width: 80%;
              height: 70px;
              margin: 20px 0;
 
              &:hover {
                  background-color: #fbfbfb;
              }
 
              a {
                  text-decoration: none;
                  color: black;
                  font-size: 16px;
                  font-weight: 700;
                  
              }
          }
   
    }
    footer {
        width: 100%;
          background: #232631;
      
          .container {
         display: flex;
         flex-direction: column-reverse;
         margin: 0;
         padding: 0;
    
      
      
      
      
      
         .follow {
        margin-top: 30px;
            
          p{
              font-size: 32px;
              text-align: center;
              font-family: 'Archivo Black', sans-serif;
              color: #c94759;
             
          }
      
          ul {
      
        
              li{
                  display: inline;
               
              }
          }
      
      
          .attribution {
              margin: 70px;
             .attribute {
                 font-size: 16px;
      
                 a {
                     text-decoration: underline;
                 }
             }
          }
      
      
         }
          }
      
    
      }
    
  }
  
  @media screen  and (min-width:360px) and (max-width:374px) {

    html {
        overflow-x: hidden;
    }
   body {
       width: 100%;
       height: 100%;
      
   }
    
    a {
        text-decoration: none;
    }
    /*Header section */
    header {
      width: 100%;
      height: 100%;
    
    
      .wuka-logo {
        background: rgb(216, 214, 214);
        width: 100%;
        height: 80px;
        padding: 10px 30px;
       display: flex;
    justify-content: space-between;
     
    .social-links {
        display: none;
    }
  
        .logo {
          font-size: 35px;
          font-weight: bolder;
       
          text-decoration: none;
           letter-spacing: 10px;
          color: #000000;
          }
      }
     
      .main-header {
    
          width: 100%;
          background-image: url(/assets/img/back-img.jpg);
          background-repeat: no-repeat;
          background-size: cover;
    
    
          nav {
              background-color: white ;
              width: 100%;
              height: 80px;
    
              .navbar-nav{
                
               position: absolute;
               z-index: 10;
               background-color: #ffffff;
    
    
               .nav-item {
                   
                   .nav-link {
                       color: #000000;
                       text-transform: uppercase;
                             font-weight: 900;
                             padding: 10px 10px;
                             font-size: 14px;
                           
                   }
               }      
                       
                
              }
          }
        
          .bg-img {
           .overlay{
            width: 100%;
            background: #0000001c;
            z-index: 10;
            img{
                width: 100%;
                z-index: -10;
                mix-blend-mode:darken;
            }
    
        }
        }
        
    
    }
      
    }
    
    
      .hero-text {


        a {
            text-decoration: underline;
            color: #000000;
            position: absolute;
            font-size: 16px;
            font-weight: bolder;
            top: 38%;
            left: 10%;
            animation-name: movement;
            animation-duration: 7s;
    
            &:hover {
                color: #f35757;
            }
        }
          
            h1{
                color: #232631;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 2px;
                font-size: 60px;
                font-weight: bold;
                position: absolute;
                top: 45%;
                left: 27%;
                text-align: center;
                z-index: 1;
                opacity: 0.6;
       }
               
        
            .btn-group{
             position: absolute;
               top: 30%;
               left: 5%;
               display: flex;
               flex-direction: column;
    
               ul {
               margin-top: -40px;
                margin-left: 20px;
                li {
                    margin-right: 40px;
                   display: inline;
                   list-style: none;
    
    
               }
    
               
               li a img:hover {
                transform: translateY(-5px);
                transition: all 500ms ease;
               }
            }
                .btn {
                   margin: 0 20px;
                   padding: 20px;
                   border: 2px solid white;
                   background: transparent;
                   color: #ffffff;
                   font-size: 20px;
                   font-weight: bold;
    
                   &:hover{
                    transform: translateY(-5px);
                    transition: all 500ms ease;
                   }
                   
    
                   .social {
                       display: block ;
                   }
                
    
               }
        
    
        }
        }
    
    
      .about-wuka {
          display: flex;
          flex-direction: row;
          background: #B85863;
          
        h2 {
            // border-radius: 20px;
            font-size: 45px;
            color: rgb(254, 254, 255);
            font-weight: 700;
            padding: 10px;
            position: absolute;
             margin-top: 130px;
            
             background: #232631;
             margin-left: -105px;
            transform: rotate(-90deg);
    
            span {
                color: #fa9b9b;
            }
    
        }
    p {
        margin: 30px 30px 50px 70px;
        padding: 40px;
        font-weight: bold;
        font-size: 14px;
        background: #D9CFB9;
    
    }
        
      }

      .music-section {
        background-color: #C9DADF;
        width: 100%;
     
       display: flex;
       flex-direction: column ;
       justify-content: center;
       align-items: center;
  
          .header-img{
              margin: 50px 0;
              img {
                  border-radius: 50%;
              }
           }
  
  
           .music-link {
              display: flex;
              justify-content: center;
              align-items: center;
 
              border: 3px solid #f35757;
              border-radius: 5px;
              width: 80%;
              height: 70px;
              margin: 20px 0;
 
              &:hover {
                  background-color: #fbfbfb;
              }
 
              a {
                  text-decoration: none;
                  color: black;
                  font-size: 16px;
                  font-weight: 700;
                  
              }
          }
   
    }

    footer {
        width: 100%;
          background: #232631;
      
          .container {
         display: flex;
         flex-direction: column-reverse;
         margin: 0;
         padding: 0;
    
      
      
      
      
      
         .follow {
        margin-top: 30px;
            
          p{
              font-size: 32px;
              text-align: center;
              font-family: 'Archivo Black', sans-serif;
              color: #c94759;
             
          }
      
          ul {
      
        
              li{
                  display: inline;
               
              }
          }
      
      
          .attribution {
              margin: 70px;
             .attribute {
                 font-size: 16px;
      
                 a {
                     text-decoration: underline;
                 }
             }
          }
      
      
         }
          }
      
    
      }
  }
    
  @media screen  and (min-width:320px) and (max-width:359px) {

    html {
        overflow-x: hidden;
    }
   body {
       width: 100%;
       height: 100%;
       overflow: hidden;
      
   }
    
    a {
        text-decoration: none;
    }
    /*Header section */
    header {
      width: 100%;
      height: 100%;
    
    
      .wuka-logo {
        background: rgb(216, 214, 214);
        width: 100%;
        height: 80px;
        padding: 10px 30px;
       display: flex;
    justify-content: space-between;
     
    .social-links {
        display: none;
    }
  
        .logo {
          font-size: 35px;
          font-weight: bolder;
       
          text-decoration: none;
           letter-spacing: 10px;
          color: #000000;
          }
      }
     
      .main-header {
    
          width: 100%;
          background-image: url(/assets/img/back-img.jpg);
          background-repeat: no-repeat;
          background-size: cover;
    
    
          nav {
              background-color: white ;
              width: 100%;
              height: 80px;
    
              .navbar-nav{
                
               position: absolute;
               z-index: 10;
               background-color: #ffffff;
    
    
               .nav-item {
                   
                   .nav-link {
                       color: #000000;
                       text-transform: uppercase;
                             font-weight: 900;
                             padding: 10px 10px;
                             font-size: 14px;
                           
                   }
               }      
                       
                
              }
          }
        
          .bg-img {
           .overlay{
            width: 100%;
            background: #0000001c;
            z-index: 10;
            img{
                width: 100%;
                z-index: -10;
                mix-blend-mode:darken;
            }
    
        }
        }
        
    
    }
      
    }
    
    
      .hero-text {


        a {
            text-decoration: underline;
            color: #000000;
            position: absolute;
            font-size: 16px;
            font-weight: bolder;
            top: 38%;
            left: 10%;
            animation-name: movement;
            animation-duration: 7s;
    
            &:hover {
                color: #f35757;
            }
        }
          
            h1{
                color: #232631;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 2px;
                font-size: 60px;
                font-weight: bold;
                position: absolute;
                top: 55%;
                left: 25%;
                text-align: center;
                z-index: 1;
                opacity: 0.6;
       }
               
        
            .btn-group{
             position: absolute;
               top: 30%;
               left: 5%;
               display: flex;
               flex-direction: column;
    
               ul {
               margin-top: -40px;
                margin-left: 20px;
                li {
                    margin-right: 40px;
                   display: inline;
                   list-style: none;
    
    
               }
    
               
               li a img:hover {
                transform: translateY(-5px);
                transition: all 500ms ease;
               }
            }
                .btn {
                   margin: 0 20px;
                   padding: 20px;
                   border: 2px solid white;
                   background: transparent;
                   color: #ffffff;
                   font-size: 20px;
                   font-weight: bold;
    
                   &:hover{
                    transform: translateY(-5px);
                    transition: all 500ms ease;
                   }
                   
    
                   .social {
                       display: block ;
                   }
                
    
               }
        
    
        }
        }
    
    
      .about-wuka {
          display: flex;
          flex-direction: row;
          background: #B85863;
          
        h2 {
            // border-radius: 20px;
            font-size: 45px;
            color: rgb(254, 254, 255);
            font-weight: 700;
            padding: 10px;
            position: absolute;
             margin-top: 130px;
            
             background: #232631;
             margin-left: -105px;
            transform: rotate(-90deg);
    
            span {
                color: #fa9b9b;
            }
    
        }
    p {
        margin: 30px 30px 50px 70px;
        padding: 30px;
        font-weight: bold;
        font-size: 14px;
        background: #D9CFB9;
    
    }
        
      }
      .music-section {
        background-color: #C9DADF;
        width: 100%;
     
       display: flex;
       flex-direction: column ;
       justify-content: center;
       align-items: center;
  
          .header-img{
              margin: 50px 0;
              img {
                  border-radius: 50%;
              }
           }
  
  
           .music-link {
              display: flex;
              justify-content: center;
              align-items: center;
 
              border: 3px solid #f35757;
              border-radius: 5px;
              width: 80%;
              height: 70px;
              margin: 20px 0;
 
              &:hover {
                  background-color: #fbfbfb;
              }
 
              a {
                  text-decoration: none;
                  color: black;
                  font-size: 14px;
                  font-weight: 700;
                  
              }
          }
   
    }

    footer {
        width: 100%;
          background: #232631;
      
          .container {
         display: flex;
         flex-direction: column-reverse;
         margin: 0;
         padding: 0;
    
      
      
      
      
      
         .follow {
        margin-top: 30px;
            
          p{
              font-size: 28px;
              text-align: center;
              font-family: 'Archivo Black', sans-serif;
              color: #c94759;
             
          }
      
          ul {
      
            margin-left: -10px;
              li{
                  display: inline;
               
              }
          }
      
      
          .attribution {
              margin: 70px;
             .attribute {
                 font-size: 14px;
      
                 a {
                     text-decoration: underline;
                 }
             }
          }
      
      
         }
          }
      
    
      }


  }

